/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}
/* MAIN */
main {
    display: flex;
}
/* LEFT-SIDE-SECTION */
.side-section {
    position: relative;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 40vw;
    height: 100vh;
}

.logo-container {
    position: relative;
    top: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: calc(100% - 10px);
    
    
}
.logo-img {
    max-width: 20%;
    max-height: 80px;
    
    
    
}
.logo-title {
    font-family: norse;
    
    
    color: white;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FORM-SECTION */

.form-section {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: antiquewhite
}
h2 {
    
    font-size: 1.3rem;
    font-weight: bolder;
    width: 80%;
    margin-left: 30px;
    padding-top: 38px;
    background-color: antiquewhite;
    
}
legend {
    font-size: 1.3rem;
    font-weight: bolder;
    width: 80%;
    
}
em {
    font-style: italic;
}

form {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding-left: 30px;
    gap: 50px;
    display: flex;
    justify-content: flex-start
}

fieldset * {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.input {
    
}